@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	/* colors */
	--white: hsl(0, 0%, 95%);
	--black: hsl(0, 0%, 15%);
	--gray: hsl(0, 0%, 65%);
	--primary: hsl(341, 75%, 68%);
  --primary-light: hsl(350, 55%, 83%);

	/* spacing */
	--1: 0.25rem;
	--2: 0.5rem;
	--3: 0.75rem;
	--4: 1rem;
	--5: 1.25rem;
	--6: 1.75rem;
	--7: 2.5rem;
	--8: 3.75rem;
	--9: 6.25rem;
	--10: 10rem;
	--l: 20rem;
	--xl: 30rem;

	/* fonts */
	--fs-reg: var(--4);
	--fs-sm: var(--3);
	--fs-md: var(--5);
	--fs-xl: var(--7);
}

@layer reset {
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	figure {
		margin: 0;
	}
	h1,
	h2,
	h3 {
		line-height: 1;
    color: var(--primary);
    font-weight: 900;
	}
	img {
		max-width: 100%;
		display: block;
	}
}

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
		line-height: 1.5;
	}
	body {
		background-color: var(--white);
		color: var(--black);
		margin: 0;
		font-size: var(--fs-reg);
		letter-spacing: -0.5px;
	}
}
